<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수량 변경</title>
</head>
<body>
 <div align="center">
     <h3> 변경할 단가 입력 </h3>
     <form method="post" action="/new3">
         코드 : <input name="code" size="15"/><br>
         단가 : <input name="dan" size="15"><br>
         <input type="submit" value="추가된 레코드 조회"/>
         <input type="reset" value="취소"/>
     </form>
     <a href="/"> 처음으로 돌아가기 </a><br>
     <a href="javascript:history.back()"> 변경 메뉴로 돌아가기 </a>
 </div>
</body>
</html>