<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
  <div align="center">
      <h2> 레코드 수정 화면 </h2>
      <form method="get" action="/dudate2">
          <table border="1" width="300">
              <tr>
                   <select name="menu">
                       <option value="0">**** 변경 메뉴 선택 ****</option>
                       <option value="1"> 수량 변경 </option>
                       <option value="2"> 단가 변경 </option>
                   </select>
              </tr>
              <th>
                   <input type="submit" value="선택"/>
                   <input type="reset" value="취소"/>
              </th>
          </table>
      </form>
      <a href="/"> 뒤로가기 </a>
  </div>
</body>
</html>