<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
  <div align="center">
      <h2> 레코드 수정 화면 </h2>
      <form method="post" action="/update2">
          <table border="1">
              <tr>
                  <th>
                      <h4> 수정할 코드 입력 </h4>
                      코드 : <input name="code" size="15"/><br>
                  </th>
              </tr>
              <tr>
                 <th>
                     <h4> 변경할 수량과 가격 입력 </h4>
                     수량 : <input name="su" size="15"/><br>
                     단가 : <input name="dan" size="15"/><br>
                     <input type="submit" value="추가된 레코드 조회"/>
                     <input type="reset" value="취소"/>
                 </th>
              </tr>
          </table>
      </form>
      <a href="/"> 뒤로가기 </a>
  </div>
</body>
</html>