<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <style>
        #www{color : red}
    </style>
</head>
<body>
  <div align="center">
      <br>
      <hr/>
      <tr>
          <h1 id="www"> WARNING </h1>
      </tr>
      <tr>
          <h1 id="www"> WARNING </h1>
      </tr>
      <tr>
          <h1 id="www"> WARNING </h1>
      </tr>
      <br>
      <h2> {{info}} </h2>
      <a href="javascript:history.back()"> 다시 로그인하기 </a>
  </div>

</body>
</html>